<html>
<body>
    <div style = "width:1000px; margin:0 auto;">
        <div style="width:1000px; background-color: blue; height: 50px; color: white; font-size: 30px;">
            Change Password
        </div><br/>
        <form action = "/changepassword" method = "post">
            <table align = "center" width = "600" border = "2">
                <tr>
                    <td>Enter username</td>
                    <td><input type="text" name="username" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td>Enter Old Password</td>
                    <td><input type="password" name="oldPassword" placeholder="Old Password" required></td>
                </tr>
                <tr>
                    <td>Enter New Password</td>
                    <td><input type="password" name="newPassword" placeholder="New Password" required></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;"><input type = "submit" name = "signin" value="Change Password"/></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>