<%- include('header.ejs') %>
<div style="width: 500px; float: left;">
    <h3>list of users you are following</h3>
    <% for(var i=0;i<result.length;i++){%>
        <p>
            <b><%=result[i].fname%></b>
        </p>
    <% } %>
</div>
<%- include('trending_tags.ejs') %>