<html>
    <head>  
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <div style="width: 1000px; margin: 0 auto;">
            <div style="width:1000px; background-color: blue; height: 50px; color: white; font-size: 30px;">
                Welcome user
            </div>
            <div style="width: 300px; float: left;">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/editprofile">Edit Profile</a></li>
                    <li><a href="/changepassword">Change Password</a></li>
                    <li><a href="/followers">Followers</a></li>
                    <li><a href="/following">Following</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <h3><%=msg%></h3>